<template>
  <section class="news-letter">
    <div class="title">News letter</div>
    <div class="description">
      join us now to get all news and special offers
    </div>
    <div class="email">
      <div class="email__icon">
        <img src="/img/icons/mail-ico.png" alt="mail-icon" />
      </div>
      <span class="email__text">type your email here</span>
    </div>
    <base-button class="button">join us</base-button>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import '@/scss/mixins';

.news-letter {
  margin: 0 auto;
  width: 117rem;
  height: 12.3rem;
  background-color: #fff;
  display: flex;
  align-items: center;

  @include respond(tab-land) {
    width: 100%;
  }
  @include respond(tab-port) {
    width: 100%;
  }
  @include respond(phone) {
    width: 100%;
  }
  .title {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #ff5912;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
    margin-left: 5.5rem;
    margin-right: 2.3rem;
  }
  .description {
    text-transform: lowercase;
    font-style: italic;
    font-size: 1.4rem;
    color: rgb(52, 64, 75);
    font-style: italic;
    line-height: 1.2;
    margin-right: auto;
  }
  .email {
    display: flex;
    align-items: center;
    margin-left: auto;
    &__icon {
      display: inline-block;
      margin-right: 1rem;
      display: flex;
    }
    &__text {
      font-style: italic;
      font-size: 1.4rem;
      color: rgb(124, 135, 145);
      line-height: 1.2;
    }
  }
  .button {
    margin-right: 4.2rem;
    margin-left: 16.2rem;
    @include respond(phone) {
      margin-left: 0;
    }
  }
}
</style>
