<template>
  <footer class="footer">
    <div class="logo-box">
      <router-link to="/">
        <div class="logo">
          <span class="logo-text"> SH</span>
          <div class="logo-img">
            <div class="logo-cart">
              <img
                class="img-2"
                src="../../../public/img/icons/logo_2.png"
                alt
              />
            </div>
          </div>

          <span class="logo-text">PY</span> <br />
        </div>
        <span class="logo-subtext"> shop anywhere</span>
      </router-link>
      <br />
      <span class="logo-copyright">Shopy c 2015. your copy right here</span>
    </div>

    <div class="footer-list">
      <div class="list-group ">
        <span class="li-margin">about us</span>
        <span class="li-margin">contact us</span>
        <span class="li-margin">support</span>
      </div>
      <div class="list-group">
        <span class="li-margin">our feed</span>
        <span class="li-margin">terms and conditions</span>
        <span class="li-margin">our privacy</span>
      </div>
      <div class="list-group">
        <span>join us</span> <span>live support</span>
      </div>
    </div>
    <div class="footer-payments">
      <span class="title">Payment Methods</span>
      <img class="" src="../../../public/img/icons/Payment Images.png" alt />
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "@/scss/mixins";

.footer {
  width: 117rem;
  margin: 0 auto;

  padding-bottom: 12.3rem;
  padding-top: 8.9rem;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-land) {
    width: 100%;
  }
  @include respond(phone) {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
  }
  .footer-payments {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    margin-left: 11.6rem;

    padding-bottom: 2.5rem;
    @include respond(phone) {
      margin: 0;
    }
    .title {
      font-size: 1.6rem;
      color: rgb(255, 89, 18);
      line-height: 1.875;
      padding-bottom: 1.9rem;
      @include respond(phone) {
        margin: 0 auto;
        width: fit-content;
      }
    }
  }
  .footer-list {
    margin-left: 28.7rem;
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {
      margin-left: 15.7rem;
    }
    @include respond(phone) {
      margin: 3rem 0;
    }
    .list-group {
      font-size: 1.4rem;
      color: rgb(40, 49, 59);
      line-height: 2.143;
      display: flex;
      flex-direction: column;
      .li-margin {
        margin-right: 10rem;
        @include respond(tab-land) {
          margin-right: 3rem;
        }
      }
      span::before {
        content: "⬤";
        font-size: 0.4rem;
        margin-right: 1rem;
      }
    }
  }
}
</style>
