<template>
  <header class="header">
    <div class="header-info">
      <div class="contact-info">
        <div class="contact-mail">
          <span class="mail-img"
            ><img src="../../../public/img/icons/Mail Ico.png" alt="mail"
          /></span>
          <span class="mail-info">info@shopy.com</span>
        </div>
        <div class="contact-phone">
          <span class="phone-img"
            ><img src="../../../public/img/icons/Phone Ico.png" alt="phone"
          /></span>
          <span class="phone-info">453-5553-996</span>
        </div>
      </div>

      <div class="social-info">
        <span>
          <img src="../../../public/img/icons/facebook.png" alt="facebook"
        /></span>
        <span class="icon">
          <img src="../../../public/img/icons/twitter.png" alt="twitter"
        /></span>
        <span class="icon">
          <img src="../../../public/img/icons/google +.png" alt="google"
        /></span>
        <span class="icon">
          <img src="../../../public/img/icons/instegram.png" alt="instagram"
        /></span>
      </div>
      <div class="line"></div>
    </div>

    <div class="nav-box">
      <div class="logo-box">
        <router-link exact to="/">
          <div class="logo">
            <span class="logo-text"> SH</span>
            <div class="logo-img">
              <div class="logo-cart">
                <img
                  class="img-2"
                  src="../../../public/img/icons/logo_2.png"
                  alt
                />
              </div>
            </div>

            <span class="logo-text">PY</span> <br />
          </div>
          <span class="logo-subtext"> shop anywhere</span>
        </router-link>
      </div>

      <div class="nav">
        <router-link exact to="/">Home</router-link>

        <router-link exact :to="{ name: 'Products' }">Products</router-link>

        <router-link exact to="/">Hot Deals</router-link>

        <router-link exact to="/">About</router-link>

        <router-link exact :to="{ name: 'Blog' }">Blog</router-link>

        <router-link exact to="/">Contact</router-link>
      </div>

      <div class="icons-box">
        <span class="icon search-icon">
          <img
            class="img-2"
            src="../../../public/img/icons/Search Ico.png"
            alt="search"
          />
        </span>

        <span class="icon user-icon">
          <img
            class="img-2"
            src="../../../public/img/icons/User Ico.png"
            alt="user"
        /></span>
        <div class="icon">
          <span class="cart-icon" @click="showCartHandler">
            <span class="counter">{{ qty }}</span>
            <img
              class="cart-img"
              src="../../../public/img/icons/Cart Ico.png"
              alt="cart"
          /></span>
        </div>
      </div>
    </div>
    <shopping-cart :show="showCart" @toggle-cart="cartHandler" />
  </header>
</template>

<script>
import ShoppingCart from '@/components/ShoppingCart.vue';
import { mapGetters } from 'vuex';
export default {
  components: {
    ShoppingCart
  },
  data() {
    return {
      showCart: false
    };
  },
  computed: {
    ...mapGetters(['qty'])
  },
  methods: {
    showCartHandler() {
      this.showCart = !this.showCart;
    },
    cartHandler(showCart) {
      this.showCart = showCart;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/mixins';

.line {
  position: absolute;
  background: #f4f6f8;

  height: 0.2rem;
  width: 120vw;
  left: -20vw;
  bottom: 0rem;
}
.cart-icon {
  cursor: pointer;
  position: relative;

  .cart-img {
    height: 2.4rem;
    width: 2.4rem;
    display: block;
    margin-top: auto;
  }
  .counter {
    width: 1.8rem;
    height: 1.8rem;
    background-image: url('../../../public/img/icons/Counter Bg.png');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 3;
    top: 0;
    left: 0;
    transform: translate(15%, -100%);
    color: #ffffff;
    border-radius: 50%;
  }
}
.header {
  background: #ffffff;
  width: 117rem;
  margin: 0 auto;
  // padding-left: 184px;
  // padding-right: 186px;
  padding-top: 2.4rem;
  padding-bottom: 3.5rem;

  @include respond(tab-land) {
    width: 100%;
  }
  @include respond(phone) {
    width: 100%;
    padding: 0;
  }
}
.header-info {
  position: relative;

  display: flex;

  // border-bottom: 1px solid #f4f6f8;
  padding-top: 2.4rem;
  padding-bottom: 2.5rem;

  .social-info {
    margin-left: auto;
    .icon {
      margin-left: 1.6rem;
    }
  }
  .contact-info {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.2;
    color: rgb(52, 64, 75);
    align-items: center;

    .contact-mail {
      display: flex;
      align-items: center;

      .mail-img {
        display: block;
        width: 1.8rem;
        height: 1.1rem;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .mail-info {
        margin-left: 0.9rem;
        margin-right: 11.7rem;
      }
    }
    .contact-phone {
      display: flex;
      align-items: center;

      .phone-img {
        display: block;
        width: 1.8rem;
        height: 1.1rem;
        margin-right: 0.9rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.nav-box {
  position: relative;

  display: flex;
  padding-top: 3.5rem;
  @include respond(phone) {
    flex-wrap: wrap;
    // text-align: center;
    // flex-direction: column;
  }
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 8.3rem;
    // margin-right: 83px;
    font-size: 1.6rem;
    color: rgb(73, 86, 98);
    line-height: 1.2;
  }
  .nav a:not(:last-child) {
    margin-right: 4rem;
  }

  .nav a:active {
    color: #ff5912;
  }
  .icon {
    margin-left: 2.9rem;
  }
  .icons-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    @include respond(phone) {
      width: 100%;
      border-top: 1px solid #f4f6f8;
      padding: 2rem;
      margin: 1rem auto;
      justify-content: space-between;
    }
  }
  .router-link-active {
    color: #ff5912;
  }
}
</style>
