<template>
  <div class="container">
    <!-- Waiting for posts to load from vuex getters posts. If not then show loading -->
    <div v-if="posts">
      <!-- Show posts per page -->
      <div
        v-for="(post, index) in displayedPosts"
        :key="post.id"
        :class="index % 2 === 0 ? `blog-box even` : `blog-box odd`"
      >
        <div class="blog-img">
          <img :src="post.image" :alt="post.title" />
        </div>
        <div class="blog-about">
          <h1 class="post-title">{{ post.title }}</h1>
          <div class="post-description">{{ post.description }}</div>
          <base-button
            btnStyle="round"
            class="blog-btn"
            @click="handleSubmit(post.id)"
            >Read More</base-button
          >
        </div>
      </div>

      <!-- PAGINATION -->
      <div class="pagination">
        <div
          class="previous"
          :class="{ selectable: page > 1 }"
          @click="previousHandler"
        >
          <img src="/img/icons/previous.png" alt="previous" />previous
        </div>
        <div class="pages">
          <span
            class="page"
            v-for="pageNumber in pages"
            :key="pageNumber"
            @click="page = pageNumber"
            :class="{ selected: pageNumber === page }"
            >{{ pageNumber }}</span
          >
        </div>
        <div
          class="next"
          :class="{ selectable: page < pages.length }"
          @click="nextHandler"
        >
          next <img src="/img/icons/next.png" alt="next" />
        </div>
      </div>
    </div>
    <!-- loading waiting response from db.json -->
    <div class="loading" v-else>
      <h1>Loading....</h1>
    </div>
    <!-- NEWS LETTER -->
    <news-letter />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import NewsLetter from '@/components/layout/NewsLetter.vue';

export default {
  components: {
    NewsLetter
  },
  data() {
    return {
      // current page
      page: 1,
      // number of pages based on number of posts and posts per page
      pages: [],
      // posts per page
      perPage: 3
    };
  },
  created() {
    this.$store.dispatch('fetchPosts').then(() => {});
  },
  computed: {
    displayedPosts() {
      let page = this.page;
      let perPage = this.perPage;
      // example: page 2 multiple 3 posts = 6 minus - 3 posts - it will start FROM index 3 in posts array
      let from = page * perPage - perPage;
      // page 2 x 3 = 6 - from 3thd to 6th
      let to = page * perPage;
      // slice posts for current page
      return this.posts.slice(from, to);
    },
    ...mapGetters(['posts', 'post'])
  },
  watch: {
    posts() {
      this.setPages();
    }
  },
  methods: {
    // go to post page
    handleSubmit(postId) {
      this.$router.push({ name: 'Post', params: { id: postId } });
    },
    // calculate number of pages
    setPages() {
      let numberOfPages = Math.ceil(
        this.$store.getters.posts.length / this.perPage
      );
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    // pagination -> previous handler
    previousHandler() {
      if (this.page > 1) {
        this.page--;
      }
    },
    // pagination -> next handler
    nextHandler() {
      if (this.page < this.pages.length) {
        this.page++;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/mixins';

.pagination {
  user-select: none;
  margin: 0 auto;
  margin-bottom: 12rem;
  background-color: #fff;
  width: 117rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(73, 86, 98);
  font-size: 1.9rem;
  line-height: 1.2;
  text-transform: capitalize;

  @include respond(tab-land) {
    width: 100%;
  }
  @include respond(phone) {
    // text-align: center;
    width: 100%;
    margin-bottom: 3rem;
  }
  .previous {
    display: flex;
    align-items: center;
    margin-left: 3.1rem;
    transition: all 0.3s;
    img {
      margin-right: 1.2rem;
    }
  }
  .selectable {
    cursor: pointer;
  }
  .selected {
    color: rgb(255, 89, 18);
    font-size: 2.5rem;
  }
  .selectable:hover {
    color: rgb(255, 89, 18);
  }
  .pages {
    .page {
      cursor: pointer;
    }
    .page:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  .next {
    display: flex;
    align-items: center;
    margin-right: 3.1rem;
    img {
      margin-left: 1.2rem;
    }
  }
}
.loading {
  width: fit-content;
  margin: 0 auto;
  font-size: 36px;

  color: rgb(255, 89, 18);
  @include respond(phone) {
    font-size: 2rem;
  }
}
.even {
  display: flex;
  flex-direction: row-reverse;
  @include respond(phone) {
    flex-direction: column;
  }
}
.odd {
  display: flex;
  @include respond(phone) {
    flex-direction: column;
  }
}
.container {
  width: 100%;
  // height: 100vh;
  // padding-left: 184px;
  // padding-right: 186px;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background: #f4f6f8;

  @include respond(tab-land) {
    // width: 100%;
    padding: 2rem 1rem;
  }
  @include respond(tab-port) {
    // width: 100%;
    padding: 2rem 1rem;
  }
  @include respond(phone) {
    padding-top: 0rem;
  }
}
.blog-box {
  width: 117rem;
  height: 36.8rem;
  margin: 2.4rem auto;

  @include respond(tab-land) {
    width: 100%;
  }
  @include respond(phone) {
    width: 100%;
    height: 100%;
  }
  // background: yellow;
  .blog-img {
    width: 60%;
    height: 100%;
    @include respond(phone) {
      width: 100%;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .blog-about {
    width: 40%;

    background: #fff;
    // flex: 0 0 42.73%;
    text-align: center;
    padding: 7rem;

    @include respond(tab-land) {
      // width: 100%;
      padding: 2rem;
    }
    @include respond(tab-port) {
      // width: 100%;
      padding: 2rem;
    }
    @include respond(phone) {
      width: 100%;
    }
    .post-title {
      margin-bottom: 10px;
      font-size: 36px;

      color: rgb(255, 89, 18);
      line-height: 1.2;
      text-transform: uppercase;
    }

    .post-description {
      font-size: 16px;

      color: rgb(73, 86, 98);
      line-height: 1.875;
      text-align: center;
    }
  }
  .blog-btn {
    margin-top: 37px;
    margin-bottom: 20px;
  }

  .page-link {
    display: inline-block;
  }
  .page-link {
    font-size: 2rem;
    color: #29b3ed;
    font-weight: 500;
  }
  .offset {
    width: 50rem !important;
    margin: 2rem auto;
  }
  // .offset {
  //   width: 500px !important;
  //   margin: 20px auto;
  // }
}
</style>
