<template>
  <div class="container">
    <!-- render post based on params.id -->
    <div class="post-box">
      <h1 class="post-title">{{ postData.title }}</h1>
      <div class="post-image">
        <img :src="postData.image" :alt="postData.title" />
      </div>
      <p>{{ postData.description }}</p>
      <div class="categories">
        Categories:
        <span class="cat" v-for="cat in postData.category" :key="cat"
          >#{{ cat }}</span
        >
      </div>
    </div>

    <!-- comment -->
    <section class="comment-section">
      <div class="comment-header">
        <span
          >{{
            postData.comments.length > 1
              ? postData.comments.length + ' comments'
              : postData.comments.length + ' comment'
          }}
        </span>
        <div class="right-side">
          <!-- add comment button top -->
          <base-button
            class="btn-comment"
            btnStyle="round"
            @click="handleComment($event)"
            >Add Comment</base-button
          >
          <!-- comment icons -->
          <span class="comment-icons"
            ><img src="/img/icons/comment-icons.png"
          /></span>
        </div>
      </div>

      <!-- render all comments for this post -->
      <div
        class="comment-box"
        v-for="(comment, index) in postData.comments"
        :key="comment.id"
      >
        <span v-if="index === 0" class="comment-top"></span>
        <div class="comment">
          <span class="comment-number">{{ index + 1 }} </span>
          <div class="comment-comm">
            <span class="comment-user"> {{ comment.user }}</span>
            <span class="comment-date"
              >on
              {{
                comment.date ? new Date(comment.date).toLocaleString() : ''
              }}</span
            >
          </div>
        </div>
        <span class="comment-top">{{ comment.comment }}</span>
      </div>

      <!-- add comment button bottom-->
      <div class="add-comment">
        <h4>Add Your Comment</h4>
        <textarea v-model="dataArr.comment" />
        <base-button
          btnStyle="round"
          class="add-button"
          @click="handleComment($event)"
          >Add Comment</base-button
        >
      </div>

      <!-- show modal for submiting user info and comment -->
      <base-dialog
        :show="show"
        title="Fill your data"
        @close="toggleDialogHandler"
      >
        <div class="modal-comment">
          <!-- HACK: 
            v-modal same as:
            @input="dataArr[data] = $event.target.value"
            :value="dataArr[data]" 
            in BaseInput exist value prop, and custom 'input' event -->
          <base-input
            v-for="(data, index) in Object.keys(dataArr)"
            :key="index"
            styleDiv="input-box"
            styleInput="form-input"
            v-model="dataArr[data]"
            type="text"
            :placeholder="data"
            :label="labelDataArr[data]"
          ></base-input>

          <!-- submit comment button -->
          <base-button
            class="submit-button"
            btnStyle="round"
            @click="submitComment($event, postData.id)"
            >Comment</base-button
          >
          <p v-if="validationError" class="error">{{ validationError }}</p>
        </div>
      </base-dialog>
    </section>

    <!-- NEWS LETTER -->
    <news-letter />
  </div>
</template>

<script>
import NewsLetter from '@/components/layout/NewsLetter.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    NewsLetter
  },
  // router/index.js (props:true)
  props: ['postData'],
  data() {
    return {
      // comment info
      dataArr: {
        comment: '',
        user: '',
        email: ''
      },
      labelDataArr: {
        comment: 'Comment',
        user: 'Username',
        email: 'email'
      },
      // show comment modal true/false
      show: false,
      validationError: ''
    };
  },
  created() {},
  computed: {
    ...mapGetters(['posts'])
  },
  methods: {
    // get info from modal to close
    toggleDialogHandler() {
      this.show = false;
    },
    // send to modal to open
    handleComment() {
      this.show = true;
    },

    submitComment(e, id) {
      // validation
      if (!this.dataArr.user || !this.dataArr.email || !this.dataArr.comment) {
        this.validationError = 'All fields are required!';
        return;
      }
      const comments = this.postData.comments;
      const comment = { ...this.dataArr };
      comments.push(comment);
      comment.date = new Date();
      const payload = { id: id, comments: { comments: comments } };
      // call vuex action editPost and send comment info
      this.$store.dispatch('editPost', payload).then(() => {
        this.dataArr.comment = '';
        this.dataArr.user = '';
        this.dataArr.email = '';
        this.show = false;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/mixins';

.error {
  margin-top: 1rem;
  color: red;
  text-align: center;
}
.modal-comment {
  text-align: left;
  // margin: 0 auto;
}
.container {
  width: 100%;
  // height: 100vh;
  // padding-left: 184px;
  // padding-right: 186px;
  padding-top: 11.8rem;
  padding-bottom: 11.8rem;
  background: #f4f6f8;
  @include respond(phone) {
    padding-top: 2rem;
    padding-bottom: 11.8rem;
  }
}
.post-box {
  margin: 0 auto;

  width: 117rem;

  @include respond(phone) {
    width: 100%;
    padding: 3rem;
  }
  @include respond(tab-land) {
    width: 100%;
    padding: 3rem;
  }
  p {
    font-size: 1.6rem;
    color: rgb(73, 86, 98);
    line-height: 1.875;
  }
  .categories {
    font-size: 1.6rem;
    color: rgb(73, 86, 98);
    text-transform: uppercase;
    line-height: 1.5;
    padding-top: 4.5rem;
    padding-bottom: 5.8rem;
    .cat {
      color: #ffffff;
      text-transform: lowercase;
      padding: 0.5rem 1.5rem;
      background-color: rgb(73, 86, 98);
      width: 12.1rem;
      height: 3rem;
      margin-left: 1rem;
      font-size: 1.4rem;
      color: rgb(255, 255, 255);
      line-height: 2.143;
    }
  }
}
.post-image {
  display: block;
  height: 49.5rem;
  margin-bottom: 4rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.post-title {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4.7rem;
  font-size: 3.6rem;
  color: rgb(255, 89, 18);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}

.comment-section {
  width: 117rem;
  margin: 0 auto;
  padding: 4.2rem 4.7rem;
  margin-bottom: 6.2rem;
  background: #ffffff;

  @include respond(tab-land) {
    width: 100%;
  }
  @include respond(phone) {
    width: 100%;
  }
  .comment-box {
    padding-left: 2.5rem;
  }
  .comment {
    display: flex;
    align-items: center;

    .comment-user {
      font-size: 1.6rem;
      font-weight: bold;
      color: rgb(73, 86, 98);
      line-height: 1.5;
      margin-right: 1rem;
    }
    .comment-date {
      font-size: 1.4rem;
      color: rgb(180, 180, 180);
      font-style: italic;
      line-height: 2.143;
    }
  }
  .comment-header {
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {
      // flex-direction: column-reverse;
    }
    span {
      font-size: 2.4rem;
      font-weight: bold;
      color: rgb(73, 86, 98);
      text-transform: uppercase;
      line-height: 1.25;
      @include respond(phone) {
        text-align: center;
      }
    }

    .right-side {
      display: flex;
      .btn-comment {
        @include respond(phone) {
          display: none;
        }
        @include respond(tab-land) {
          // margin-left: 1rem;

          display: none;
        }
        @include respond(port-land) {
          display: none;
        }
      }
      .comment-icons {
        margin-left: 55rem;

        @include respond(tab-land) {
          // margin-left: 1rem;

          // display: none;
          margin-left: 50rem;
        }
        @include respond(port-land) {
          margin-left: 50rem;
        }
        @include respond(phone) {
          // margin-left: 1rem;
          margin: 2rem auto;
          margin-top: 1rem;
          margin-left: 8rem;
        }
      }
    }
  }
}
.comment-number {
  display: block;
  font-size: 2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #ffffff;
  background: rgb(255, 89, 18);
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
  transform: translateX(-50%);
  margin: 1rem 0;
}
.comment-top {
  display: block;
  min-height: 5rem;
  width: 100%;
  padding-left: 3.65rem;
  font-size: 1.4rem;
  color: rgb(180, 180, 180);
  // font-style: italic;
  line-height: 2.143;
  border-left: 1px solid rgb(180, 180, 180);
}

.add-comment {
  text-align: center;
  h4 {
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 2.4rem;
    color: rgb(73, 86, 98);
    line-height: 1.25;
  }
  // background: pink;
  textarea {
    border: 1px solid rgb(73, 86, 98);
    color: rgb(73, 86, 98);

    border-radius: 1.5rem;
    width: 107.2rem;
    height: 17.1rem;
    padding: 1rem;

    @include respond(tab-land) {
      width: 100%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
  .add-button {
    width: fit-content;
    margin-top: 5rem;
    margin-left: auto;
  }
}
.submit-button {
  width: 100%;
  margin-top: 3rem;
  // margin-left: auto;
  text-align: center;
}
</style>
