<template>
  <div class="container">
    <div class="products-page">
      <div class="filters">
        <!-- CATEGORY FILTER -->
        <div class="filter-card">
          <div class="filter-card__title">
            <h3>categories</h3>
          </div>
          <div class="filter-card__options">
            <!-- render all different product categories found in DB -->
            <div
              class="filter-card__options--option"
              v-for="category in categories"
              :key="category"
            >
              <label
                :for="category"
                :class="{
                  selected:
                    categoryFilterActive &&
                    activeFilters.categories.includes(category)
                }"
                @click="categoryFilterActive = true"
              >
                <input
                  hidden
                  type="checkbox"
                  :id="category"
                  :value="category"
                  v-model="activeFilters.categories"
                />
                {{ category }}
              </label>
            </div>
          </div>
        </div>

        <!-- PRICE FILTER -->
        <div class="filter-card">
          <div class="filter-card__title">
            <h3>price filter</h3>
          </div>
          <div class="filter-card__options">
            <div class="range-slider">
              <!-- range slider for min price -->
              <input
                type="range"
                :min="minPrice"
                :max="maxPrice"
                step="10"
                v-model.number="enteredMinPrice"
                @change="priceFilterActive = true"
              />
              <!-- range slider for max price -->
              <input
                type="range"
                :min="minPrice"
                :max="maxPrice"
                step="10"
                v-model.number="enteredMaxPrice"
                @change="priceFilterActive = true"
              />
            </div>
            <div class="filter-card__options--prices">
              <div class="price">
                <!-- number input for min price -->
                <label for="minPrice">From</label>
                <input
                  type="number"
                  v-model.number="enteredMinPrice"
                  id="minPrice"
                  @change="priceFilterActive = true"
                />
              </div>
              <div class="price">
                <!-- number input for max price -->
                <label for="maxPrice">To</label>
                <input
                  type="number"
                  v-model.number="enteredMaxPrice"
                  id="maxPrice"
                  @change="priceFilterActive = true"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- SIZE FILTER -->
        <div class="filter-card">
          <div class="filter-card__title">
            <h3>sizes</h3>
          </div>
          <!-- render all product size options -->
          <div class="filter-card__options">
            <div class="filter-card__options--option">
              <input
                hidden
                type="checkbox"
                id="small"
                value="s"
                @change="sizeHandler('s')"
              />

              <label
                for="small"
                :class="{
                  selected: activeFilters.sizes.includes('s')
                }"
                @click="sizeFilterActive = true"
                ><span
                  class="custom-checkbox"
                  :class="{
                    'custom-checkbox--checked': activeFilters.sizes.includes(
                      's'
                    )
                  }"
                ></span
                >Small</label
              >
            </div>
            <div class="filter-card__options--option">
              <input
                hidden
                type="checkbox"
                id="medium"
                value="m"
                @change="sizeHandler('m')"
              />

              <label
                for="medium"
                :class="{
                  selected: activeFilters.sizes.includes('m')
                }"
                @click="sizeFilterActive = true"
                ><span
                  class="custom-checkbox"
                  :class="{
                    'custom-checkbox--checked': activeFilters.sizes.includes(
                      'm'
                    )
                  }"
                ></span
                >Medium</label
              >
            </div>
            <div class="filter-card__options--option">
              <input
                hidden
                type="checkbox"
                id="large"
                value="l"
                @change="sizeHandler('l')"
              /><label
                for="large"
                :class="{
                  selected: activeFilters.sizes.includes('l')
                }"
                @click="sizeFilterActive = true"
                ><span
                  class="custom-checkbox"
                  :class="{
                    'custom-checkbox--checked': activeFilters.sizes.includes(
                      'l'
                    )
                  }"
                ></span
                >Large</label
              >
            </div>
            <div class="filter-card__options--option">
              <input
                hidden
                type="checkbox"
                id="extra-large"
                value="xl"
                @change="sizeHandler('xl')"
              /><label
                for="extra-large"
                :class="{
                  selected: activeFilters.sizes.includes('xl')
                }"
                @click="sizeFilterActive = true"
                ><span
                  class="custom-checkbox"
                  :class="{
                    'custom-checkbox--checked': activeFilters.sizes.includes(
                      'xl'
                    )
                  }"
                ></span
                >Extra Large</label
              >
            </div>
          </div>
        </div>

        <!-- BRAND FILTER -->
        <div class="filter-card">
          <div class="filter-card__title">
            <h3>brands</h3>
          </div>
          <!-- render all different product brands found in DB -->
          <div class="filter-card__options">
            <div
              class="filter-card__options--option"
              v-for="brand in brands"
              :key="brand"
            >
              <input
                hidden
                type="checkbox"
                :id="brand"
                :value="brand"
                v-model="activeFilters.brands"
              /><label
                :for="brand"
                :class="{
                  selected: activeFilters.brands.includes(brand)
                }"
                @click="brandFilterActive = true"
              >
                <span
                  class="custom-checkbox"
                  :class="{
                    'custom-checkbox--checked': activeFilters.brands.includes(
                      brand
                    )
                  }"
                ></span>
                {{ brand }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- PRODUCTS -->
      <div class="product-section">
        <div class="products">
          <!-- initially render max 9 product from DB -->
          <div
            class="product-card"
            v-for="product in filteredProducts"
            :key="product.id"
            @click="selectProduct(product.id)"
          >
            <div class="card">
              <!-- product image -->
              <div class="product-card__img">
                <img :src="product.image" :alt="product.title" />
              </div>
              <!-- product title -->
              <div class="product-card__title">
                <h2>{{ product.title }}</h2>
              </div>
              <!-- product price -->
              <div class="product-card__price">{{ product.price }}$</div>
              <!-- product sizes -->
              <div class="product-card__sizes extra">
                <span class="text">sizes:</span>
                <span v-for="(size, index) in product.sizes" :key="size">
                  {{ size }}{{ index !== product.sizes.length - 1 ? '-' : '' }}
                </span>
              </div>
              <!-- product colors -->
              <div class="product-card__colors extra">
                <span class="color color--red"></span>
                <span class="color color--black"></span>
                <span class="color color--blue"></span>
                <span class="color color--green"></span>
              </div>
              <!-- icons -->
              <div class="product-card__icons extra">
                <div class="icon">
                  <img src="/img/icons/share-icon.png" alt="share" />
                </div>
                <div class="icon">
                  <img src="/img/icons/shop-icon.png" alt="shop" />
                </div>
                <div class="icon">
                  <img src="/img/icons/fav-icon.png" alt="favourite" />
                </div>
              </div>
            </div>
          </div>
          <div class="no-products" v-if="filteredProducts.length === 0">
            <h3>No products found.</h3>
          </div>
        </div>
        <!-- load all products -->
        <button
          v-if="!loadAll && filteredProducts.length > 0"
          @click="loadAllHandler"
          class="products__btn"
        >
          ...
        </button>
      </div>
    </div>
    <!-- news letter component -->
    <news-letter />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import NewsLetter from '@/components/layout/NewsLetter.vue';

export default {
  components: {
    NewsLetter
  },
  data() {
    return {
      // selected filters for categories, sizes and brands
      activeFilters: { categories: [], sizes: [], brands: [] },

      // price range
      enteredMinPrice: null,
      enteredMaxPrice: null,

      // load all button
      loadAll: false,

      // filters touched by user
      categoryFilterActive: false,
      sizeFilterActive: false,
      priceFilterActive: false,
      brandFilterActive: false
    };
  },
  computed: {
    ...mapGetters([
      'products',
      'categories',
      'sizes',
      'brands',
      'minPrice',
      'maxPrice'
    ]),
    showLoadButton() {
      return (
        (this.filteredProducts ? this.filteredProducts.length > 9 : false) &&
        !this.loadAll
      );
    },
    // used for rendering products on page
    filteredProducts() {
      let products = this.products;

      // filter by category if filter is selected by user
      if (
        this.categoryFilterActive &&
        this.activeFilters.categories.length !== 0
      ) {
        products = products.filter(product => {
          return this.activeFilters.categories.includes(product.category);
        });
      }

      // filter by price range
      if (this.priceFilterActive) {
        products = products.filter(product =>
          this.enteredMinPrice && this.enteredMaxPrice
            ? product.price >= this.enteredMinPrice
            : true
        );
        products = products.filter(product =>
          this.enteredMinPrice && this.enteredMaxPrice
            ? product.price <= this.enteredMaxPrice
            : true
        );
      }

      // filter by size if filter is selected by user
      if (this.sizeFilterActive && this.activeFilters.sizes.length !== 0) {
        products = products.filter(product => {
          let hasSize = false;
          this.activeFilters.sizes.forEach(size => {
            if (product.sizes.includes(size)) {
              hasSize = true;
            }
          });
          return hasSize;
        });
      }

      // filter by brand if filter is selected by user
      if (this.brandFilterActive && this.activeFilters.brands.length !== 0) {
        products = products.filter(product => {
          return this.activeFilters.brands.includes(product.brand);
        });
      }

      // button show all is clicked
      if (!this.loadAll) {
        products = products.slice(0, 9);
      }
      return products;
    }
  },
  methods: {
    // on load all button
    loadAllHandler() {
      this.loadAll = true;
    },

    // size filter handler -> add or remove from activeFilters.sizes
    sizeHandler(size) {
      // if size is already in array -> remove
      if (this.activeFilters.sizes.includes(size)) {
        this.activeFilters.sizes = this.activeFilters.sizes.filter(
          s => s !== size
        );
      } else {
        // if not -> add
        this.activeFilters.sizes.push(size);
      }
    },
    // go to product page
    selectProduct(id) {
      this.$router.push({ name: 'Product', params: { id } });
    }
  },
  created() {
    // if vuex store products getter is empty fetch from database
    if (this.$store.getters.products.length > 0) {
      return;
    }
    this.$store.dispatch('fetchProducts').then(() => {
      // set min and max price of DB products
      this.enteredMinPrice = this.minPrice;
      this.enteredMaxPrice = this.maxPrice;
    });
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/mixins';

.container {
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(phone) {
    display: block;
    padding-top: 1rem;
  }
  .products-page {
    display: flex;
    background-color: #f4f6f8;
    margin-top: 12rem;
    margin-left: 18.6rem;
    margin-right: 18.8rem;
    margin-bottom: 10rem;

    @include respond(tab-land) {
      margin: 1rem;
    }
    @include respond(phone) {
      display: block;
      margin: 0;
    }
  }

  .filter-card:not(:last-child) {
    margin-bottom: 2.9rem;
  }
  .filter-card {
    position: relative;
    width: 26.8rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 4rem;

    @include respond(phone) {
      width: 100%;
      padding: 3rem;
    }
    &__title {
      text-transform: capitalize;
      font-size: 1.8rem;
      color: #ff5912;
      line-height: 1.2;
    }
    &__options {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      &--option {
        font-size: 1.6rem;
        color: #34404b;
        line-height: 3.125;
        text-transform: capitalize;
        label {
          transition: all 0.3s;
          cursor: pointer;
          user-select: none;
        }
        .selected {
          font-size: 1.7rem;
          color: #ff5912;
        }
        .custom-checkbox {
          display: inline-block;
          width: 1.3rem;
          height: 1.3rem;
          margin-right: 1.5rem;
          background-color: #f4f6f8;
          transition: all 0.1s;
          &--checked {
            border: 0.4rem solid #ff5912;
            background-color: #fff;
          }
        }
      }
      &--prices {
        margin-top: 5rem;
        display: flex;
        .price {
          display: flex;
          align-items: center;
          font-size: 1.6rem;
          color: #34404b;
          input {
            margin-right: 1.5rem;
            width: 5rem;
            font: inherit;
            color: inherit;
            background-color: #f4f6f8;
            border: none;
            padding: 0.2rem;
            z-index: 1000;
          }
          label {
            margin-right: 1.5rem;
            color: inherit;
            z-index: 1000;
          }
        }
      }
    }
  }

  .product-section {
    display: flex;
    flex-direction: column;
    @include respond(phone) {
      margin-top: 3.1rem;
    }
    .products {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      min-height: 118.5rem;
      width: 90rem;
      @include respond(phone) {
        // display: block;

        width: 100%;
      }
      @include respond(tab-land) {
        // width: 100%;
        width: fit-content;
      }
    }
    .no-products {
      margin: 20rem auto;
      h3 {
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
        text-transform: capitalize;
        color: #34404b;
      }
    }
    .products__btn {
      width: 87rem;
      height: 6rem;
      background-color: #fff;
      border: none;
      cursor: pointer;
      margin-left: 3rem;
      &:hover {
        background-color: #f4f6f8;
        border: 1px solid #34404b;
      }

      @include respond(tab-land) {
        width: 100%;
        margin-left: 0.5rem;
      }
      @include respond(phone) {
        width: 100%;
        margin-left: 0;
      }
    }
    .product-card {
      cursor: pointer;
      width: 27rem;
      height: 36.5rem;
      background-color: #fff;
      margin-left: 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 3.1rem;

      @include respond(tab-land) {
        // margin: 1rem;
        width: 45%;
      }
      @include respond(tab-port) {
        // margin: 1rem;
        width: 45%;
      }
      @include respond(phone) {
        width: 50%;

        margin-left: 0;
      }
      .card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__img {
        transition: all 0.3s;
        width: 15.9rem;
        height: 21.4rem;
        margin-bottom: 3.2rem;
        img {
          display: inline-block;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &__title {
        transition: all 0.3s;
        text-align: center;
        h2 {
          font-size: 1.8rem;
          font-weight: bold;
          line-height: 1.2;
        }
        text-transform: capitalize;
        color: #34404b;
        margin-bottom: 2.8rem;
      }
      &__price {
        transition: all 0.3s;
        text-align: center;
        font-size: 1.8rem;
        text-transform: capitalize;
        color: #ff5912;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 1px;
      }
      &__sizes {
        margin-bottom: 2rem;
        justify-content: center;
        font-size: 1.4rem;
        color: #34404b;
        line-height: 1.2;
        .text {
          margin-right: 0.5rem;
        }
      }
      &__colors {
        text-align: center;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        padding-bottom: 1.8rem;
        .color {
          display: inline-block;
          width: 1.3rem;
          height: 1.3rem;
          border-radius: 50%;
          &--red {
            background-color: rgb(225, 46, 63);
          }
          &--black {
            background-color: #34404b;
          }
          &--blue {
            background-color: rgb(58, 179, 255);
          }
          &--green {
            background-color: rgb(47, 217, 103);
          }
        }
        .color:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
      &__icons {
        display: flex;
        justify-content: center;
        padding-top: 2.8rem;
        border-top: 1px solid #f4f6f8;

        .icon {
          height: 1.6rem;
          width: 1.6rem;
        }
        .icon:not(:last-child) {
          margin-right: 4.7rem;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }

      .card {
        transition: all 0.8s;
      }
      .extra {
        display: none;
        transition: all 0.8s;
      }
      .card:hover .extra {
        display: flex;
      }
      .card:hover .product-card__img {
        text-align: center;
        width: 8rem;
        height: 10.7rem;
      }
      .card:hover .product-card__title {
        margin-bottom: 1.5rem;
        color: #ff5912;
      }
      .card:hover .product-card__price {
        display: none;
      }
      .card:hover {
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
      }
    }
  }

  .range-slider {
    width: 20rem;
    margin: auto 1.6rem;
    text-align: center;
    position: absolute;
    top: 6rem;
    bottom: 0;
  }
  .range-slider svg,
  .range-slider input[type='range'] {
    position: absolute;
    left: 0;
    top: 3rem;
  }
  input[type='range']::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    top: 0.2rem;
    margin-top: -0.7rem;
  }

  .news-letter {
    margin-bottom: 10rem;
    @include respond(tab-land) {
      width: 100%;
    }
  }
}
</style>
