<template>
  <section class="single-product-page">
    <!-- alert and confirmation modal -->
    <base-dialog
      :show="showDialog"
      :title="dialogTitle"
      @close="showDialog = false"
    >
      {{ dialogText }}</base-dialog
    >

    <!-- RENDER PRODUCT FROM VUEX GETTER PRODUCT FILTERED BY PRODUCT ID -->
    <div class="product">
      <!-- IMAGES -->
      <div class="product-images">
        <!-- render main image -->
        <div class="product-images__main-img">
          <img :src="product(id).image" :alt="product(id).image" />
        </div>
        <!-- other images -->
        <div class="product-images__small-imgs">
          <div class="img">
            <img :src="product(id).image" :alt="product(id).image" />
          </div>
          <div class="img">
            <img :src="product(id).image" :alt="product(id).image" />
          </div>
          <div class="img">
            <img :src="product(id).image" :alt="product(id).image" />
          </div>
        </div>
      </div>
      <!-- PRODUCT DETAILS -->
      <div class="product-details">
        <!-- product title -->
        <div class="product-details__title">
          <h2>{{ product(id).title }}</h2>
        </div>
        <!-- product subtitle -->
        <div class="product-details__subtitle">
          <h3>{{ product(id).subtitle }}</h3>
        </div>
        <!-- product description -->
        <div class="product-details__description">
          <p>{{ product(id).description }}</p>
        </div>
        <!-- ADD TO CARD PRODUCT -->
        <div class="product-details__select">
          <!-- select product size -->
          <div class="select-size">
            <span class="text">Choose Size</span>
            <span
              v-for="(size, index) in product(id).sizes"
              :key="size"
              @click="selectSizeHandler(size)"
              class="select-size__option select"
              :class="{ selected: size === selectedSize }"
            >
              <span :class="{ selected: size === selectedSize }">{{
                size
              }}</span
              ><span>{{
                index === product(id).sizes.length - 1 ? '' : ' - '
              }}</span>
            </span>
          </div>
          <!-- select product quantity -->
          <div class="select-qty">
            <span class="text">Choose Quantity</span>
            <!-- quantity decrease -->
            <span class="text select" @click="changeQuantity('minus')">-</span>
            <span class="text" :class="{ selected: selectedQuantity > 0 }">{{
              selectedQuantity
            }}</span>
            <!-- quantity increase -->
            <span class="text select" @click="changeQuantity('plus')">+</span>
          </div>
        </div>
        <div class="product-details__order">
          <!-- product price -->
          <div class="product-details__order--price">
            <span>Price: {{ product(id).price }}$</span>
          </div>
          <!-- icons -->
          <div class="product-details__order--icons">
            <img src="/img/icons/share-icon.png" alt="share" />
            <img src="/img/icons/shop-icon.png" alt="favourite" />
            <img src="/img/icons/fav-icon.png" alt="favourite" />
          </div>
          <!-- order button -->
          <base-button
            btnStyle="round"
            class="product-details__order--btn"
            @click.prevent="orderHandler"
            >Order Now</base-button
          >
        </div>
      </div>
    </div>
    <div>
      <!-- related product based on same category -->
      <related-products
        :category="product(id).category"
        :id="Number(id)"
      ></related-products>
    </div>
  </section>
</template>

<script>
import RelatedProducts from '@/components/RelatedProducts.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    RelatedProducts
  },
  // router/index.js => props:true
  props: ['id'],
  data() {
    return {
      selectedQuantity: 1,
      selectedSize: null,
      showDialog: false,
      dialogTitle: '',
      dialogText: ''
    };
  },
  computed: {
    ...mapGetters(['product'])
  },
  methods: {
    // change quantity handler
    changeQuantity(mode) {
      if (mode === 'plus') this.selectedQuantity += 1;
      if (mode === 'minus') this.selectedQuantity -= 1;
      if (this.selectedQuantity < 0) this.selectedQuantity = 0;
    },
    // select size
    selectSizeHandler(size) {
      this.selectedSize = size;
    },
    orderHandler() {
      // validation - size and quantity : invalid -> show dialog
      if (this.selectedQuantity < 1 || !this.selectedSize) {
        this.dialogTitle = 'Item Selection Error!';
        this.dialogText = 'Please select size and quantity!';
        this.showDialog = !this.showDialog;
        return;
      } else {
        // validaton: valid -> send cart item to DB
        const data = {
          ...this.product(this.id),
          productId: this.product.id,
          quantity: this.selectedQuantity,
          size: this.selectedSize
        };
        delete data.id;
        delete data.sizes;

        // call vuex action addToCart and send new cart item and show confirmation dialog
        this.$store.dispatch('addToCart', data).then(() => {
          this.selectedQuantity = 1;
          this.selectedSize = null;
          this.dialogTitle = 'Product Added!';
          this.dialogText = 'Selected product is added to cart!';
          this.showDialog = !this.showDialog;
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/mixins';

.single-product-page {
  border-top: 1px solid #f4f6f8;
  display: flex;
  flex-direction: column;

  .product {
    margin-top: 10.4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 12.4rem;

    .product-images {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 9rem;
      @include respond(phone) {
        margin-right: 1rem;
      }
      &__main-img {
        padding-top: 1.5rem;
        text-align: center;
        width: 14.5rem;
        width: 27.5rem;
        margin-bottom: 6.8rem;
        @include respond(phone) {
          width: 22.5rem;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
      &__small-imgs {
        display: flex;
        .img {
          cursor: pointer;
          width: 9.6rem;
          height: 6.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1.5rem;
          background-color: #f4f6f8;
          &:hover {
            background-color: #ff5912;
          }
          &:hover img {
            opacity: 0.6;
          }

          img {
            height: 100%;
            background-size: cover;
          }
        }
        .img:not(:last-child) {
          margin-right: 2.1rem;
        }
      }
    }

    .product-details {
      display: flex;
      flex-direction: column;
      width: 61.2rem;
      &__title {
        h2 {
          margin-top: 0;
          text-transform: uppercase;
          font-size: 5.2rem;
          color: #ff5912;
          line-height: 1.2;
        }
      }
      &__subtitle {
        h3 {
          font-size: 1.8rem;
          color: rgb(60, 71, 81);
          line-height: 1.668;
          text-transform: capitalize;
        }
      }
      &__description {
        p {
          font-size: 1.6rem;
          color: rgb(73, 86, 98);
          line-height: 1.875;
        }
      }
      &__select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f4f6f8;
        height: 9.8rem;
        margin: 4rem 0;
        border-top: 1px solid #f4f6f8;
        @include respond(phone) {
          margin: 1rem 0;
        }
        .text {
          font-size: 1.8rem;
          color: rgb(52, 64, 75);
          line-height: 1.2;
          user-select: none;
        }
        .text:not(:last-child) {
          margin-right: 1.5rem;
        }
        .selected {
          font-size: 2rem;
          color: rgb(255, 89, 18);
        }
        .select {
          cursor: pointer;
        }
        .select-size {
          user-select: none;
          &__option {
            text-transform: uppercase;
            font-size: 1.8rem;
            color: rgb(52, 64, 75);
            line-height: 1.2;
            transition: all 0.3s;
          }
        }
      }
      &__order {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond(phone) {
          display: block;
          text-align: center;
        }
        &--price {
          font-size: 2rem;
          color: rgb(52, 64, 75);
          line-height: 1.2;
        }
        &--icons {
          display: flex;
          @include respond(phone) {
            display: block;
            margin: 1rem auto;
          }
          img {
            width: 1.9rem;
            height: 1.6rem;
            margin-right: 2.5rem;
          }
          margin-left: auto;
        }
      }
    }
  }
}
</style>
