<template>
  <section class="related-products">
    <div class="related-products__title">
      <h2><span class="text-red">Related</span> Products</h2>
    </div>
    <div class="related-products__description">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora id a,
        quos tempore.
      </p>
    </div>
    <section class="products-section">
      <!-- render initially max 4 products from DB based on category of chosen one -->
      <div class="products-section__products">
        <div
          v-for="product in filteredProducts"
          :key="product.id"
          class="product"
          @click="goToProduct(product.id)"
        >
          <!-- product image -->
          <div class="product__img">
            <img :src="product.image" :alt="product.image" />
          </div>
          <!-- product title -->
          <div class="product__title">
            <h3>{{ product.title }}</h3>
          </div>
          <!-- product price -->
          <div class="product__price">
            <span>{{ product.price }}$</span>
          </div>
        </div>
      </div>
      <!-- show all related products button -->
      <button
        v-if="!loadAll && filteredProducts.length > 0"
        @click="loadAll = true"
        class="products-section__btn"
      >
        ...
      </button>
    </section>
    <news-letter />
  </section>
</template>

<script>
import NewsLetter from '@/components/layout/NewsLetter.vue';
import { mapGetters } from 'vuex';
export default {
  components: {
    NewsLetter
  },
  props: {
    // sent from SingleProductPage
    category: {
      type: String,
      required: true
    },
    // sent from SingleProductPage
    id: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      loadAll: false
    };
  },
  methods: {
    goToProduct(id) {
      this.$router.push({ name: 'Product', params: { id } });
    }
  },
  computed: {
    ...mapGetters(['products']),
    filteredProducts() {
      // pass products category and ID by props from the SignleProductPage
      let products = this.products.filter(product => {
        // filter products by category but not with the same ID
        return product.category === this.category && product.id !== this.id;
      });
      // initially loads only 4 products
      if (!this.loadAll) {
        products = products.slice(0, 4);
      }
      return products;
    }
  },
  created() {
    // if vuex store products are empty fetch from DB (for example: on refresh page)
    if (this.filteredProducts.length === 0) {
      this.$store.dispatch('fetchProducts');
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/mixins';

.related-products {
  background-color: #f4f6f8;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.2;

    .text-red {
      color: #ff5912;
    }
  }
  &__description {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(73, 86, 98);
    line-height: 1.875;
  }

  .products-section {
    margin-top: 8.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__products {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: flex-start;
      min-height: 35.5rem;
      @include respond(phone) {
        flex-wrap: wrap;
      }
      .product {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 1.5rem 1.5rem;
        cursor: pointer;
        width: 27rem;
        height: 36.5rem;
        @include respond(phone) {
          margin-bottom: 1rem;
          width: 100%;
        }
        &__img {
          margin: 3.1rem auto;
          width: 15.9rem;
          height: 21.4rem;
          img {
            display: block;
            height: 100%;
            width: 100%;
            background-size: cover;
          }
        }
        &__title {
          text-align: center;
          font-size: 1.8rem;
          font-weight: bold;
          text-transform: capitalize;
          line-height: 1.2;
          color: rgb(52, 64, 75);
        }

        &__price {
          margin-top: 1.4rem;
          text-align: center;
          font-size: 1.8rem;
          color: #ff5912;
          font-weight: bold;
          line-height: 1.2;
        }
      }
    }
    &__btn {
      width: 87rem;
      height: 6rem;
      background-color: #fff;
      border: none;
      cursor: pointer;
      margin: 3rem auto;
      margin-bottom: 0;
      @include respond(phone) {
        width: 100%;
      }
      &:hover {
        background-color: #f4f6f8;
        border: 1px solid rgb(52, 64, 75);
      }
    }
  }
  .news-letter {
    margin-top: 11rem;
  }
}
</style>
