<template>
  <!-- custom dialog for shopping cart -->
  <base-dialog
    :show="show"
    title="Your Cart"
    @close="toggleDialogHandler"
    class="cart"
  >
    <!-- if no items selected in cart -->
    <div class="cart__no-product" v-if="items.length === 0">
      No product selected.
    </div>
    <!-- if there are selected items in cart -->
    <!-- render item from vuex getter items -->
    <div v-for="item in items" :key="item.id" class="cart__item">
      <!-- item image -->
      <div class="cart__item--image">
        <img :src="item.image" :alt="item.image" />
      </div>
      <!-- item title -->
      <div class="cart__item--title">
        <span>{{ item.title }}</span>
      </div>
      <!-- item size -->
      <div class="cart__item--size">
        Size: <span class="selected">{{ item.size }}</span>
      </div>
      <!-- item quantity -->
      <div class="cart__item--qty">
        qantity: <span class="selected">{{ item.quantity }}</span>
      </div>
      <!-- item price -->
      <div class="cart__item--price">
        Price: <span class="selected">{{ item.price }}$</span>
      </div>
      <!-- item total price  -->
      <div class="cart__item--item-total">
        Total price: <span class="selected">{{ itemTotalPrice(item) }}$</span>
      </div>
      <!-- remove item button -->
      <base-button
        class="cart__item--button"
        btnStyle="danger"
        @click.prevent="removeHandler(item.id)"
        >Remove</base-button
      >
    </div>
    <!-- total price of all items in cart  -->
    <div class="cart__total" v-if="totalPrice > 0">
      Total: <span class="selected">{{ totalPrice }}$</span>
    </div>
  </base-dialog>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  props: {
    show: {
      type: Boolean
    }
  },
  computed: {
    ...mapGetters({
      items: 'cartItems',
      itemTotalPrice: 'totalSumByItem',
      totalPrice: 'totalSum'
    })
  },
  methods: {
    // handler for remove item button
    removeHandler(id) {
      this.$store.dispatch('removeFromCart', id);
    },
    // emit event outside for closing cart
    toggleDialogHandler() {
      this.$emit('toggle-cart', false);
    }
  },
  created() {
    // if vuex store items are empty - fetch from DB (for example: on refresh page)
    if (this.items.length === 0) {
      this.$store.dispatch('fetchCartItems');
    }
  }
};
</script>

<style lang="scss" scoped>
.cart {
  text-transform: capitalize;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 1rem 1rem;
    &--image {
      height: 3rem;
      img {
        height: 100%;
      }
    }
    &--button {
      color: black;
    }
  }
  &__total {
    margin: 0 4rem;
    text-align: right;
  }
  .selected {
    text-transform: uppercase;
    color: #ff5912;
    font-size: 2rem;
    font-weight: bold;
  }
}
</style>
