<template>
  <div id="app" class="container">
    <Header />
    <router-view />
    <Footer />
  </div>
</template>
<script>
import Header from './components/layout/TheHeader.vue';
import Footer from './components/layout/TheFooter.vue';

export default {
  components: {
    Header,
    Footer
  }
};
</script>

<style lang="scss">
@import './scss/mixins';
#app {
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 43.75%;
  }

  @include respond(phone) {
    font-size: 38.75%;
    font-size: 6px;
  }

  @include respond(phone-small) {
    font-size: 33.75%;
    font-size: 6px;
  }
}
body {
  font-family: myriad-arabic, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 5vw;

  @include respond(tab-land) {
    padding: 3vw;
  }
  @include respond(phone) {
    padding: 2vw;
  }
}
a {
  text-decoration: none;
}
button {
  outline: none;
}
textarea {
  outline: none;
}
.logo-subtext {
  font-size: 1.6rem;
  width: 100%;
  letter-spacing: 1px;
  // text-decoration: ;
  @include respond(phone) {
    // text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0px;
  }
  @include respond(tab-land) {
    // text-align: center;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
}
.logo-box {
  width: fit-content;
  font-size: 1.4rem;

  color: rgb(73, 86, 98);

  line-height: 2.143;
  @include respond(phone) {
    display: flex;
    width: 100%;

    align-items: flex-end;
    justify-content: space-around;
  }
}
.logo {
  display: flex;
  width: max-content;
  height: 3rem;

  .logo-copyright {
    font-size: 1.4rem;
    color: rgb(40, 49, 59);
    line-height: 2.143;
  }
  .logo-text {
    font-size: 3rem;
    font-weight: bold;

    // font: bold;
  }

  .logo-cart {
    display: block;
    width: 4rem;
    height: 3rem;
    margin-top: 0.5rem;
    position: relative;
    background-image: url('../public/img/icons/Ellipse 1.png');

    background-position: bottom;
    background-repeat: no-repeat;

    // .img-1 {
    // }
    .img-2 {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
</style>
