<template>
  <div :class="styleDiv">
    <label v-if="label" :class="styleLabel">{{ label }}</label>
    <!-- v-bind="$attrs" to pass attribute through props to input (not to root element) -->
    <input
      v-bind="$attrs"
      :value="value"
      @input="updateValue"
      :type="type"
      :class="styleInput"
    />
  </div>
</template>

<script>
export default {
  // inheritAttrs:false -> to not automatically inherit attributes (v-bind="$attrs" on input)
  inheritAttrs: false,
  props: {
    // set type of input from outside through prop
    type: {
      type: String,
      default: 'text'
    },
    // set class of input from outside through prop
    styleInput: {
      type: String,
      default: ''
    },
    // set class of label from outside through prop
    styleLabel: {
      type: String,
      default: ''
    },
    // set class of root div from outside through prop
    styleDiv: {
      type: String,
      default: ''
    },
    // set label text from outside through prop
    label: {
      type: String,
      default: ''
    },
    // get value from outside through prop
    value: [String, Number]
  },
  methods: {
    // emit value outside on 'input' event
    updateValue(event) {
      this.$emit('input', event.target.value);
    }
  }
};
</script>

<style lang="scss" scoped>
.input-box {
  font-size: 3rem;
  color: rgb(73, 86, 98);
  margin: 1rem auto;
  label {
    text-align: left;
  }
}

.form-input {
  color: rgb(73, 86, 98);
  font-size: 1.6rem;
  width: 100%;
  background: #f4f6f8;
  padding: 1rem;
  margin: 1rem auto;
  border: none;
}
</style>
