<template>
  <div>
    <!-- $listeners is used for passing the event to be invoked in a child component. -->
    <a v-on="$listeners" class="btn" :class="btnStyle">
      <slot></slot>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    // get class from outside ('round', 'small' or 'danger')
    btnStyle: {
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: #ff5912;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.2;
  padding: 1.54rem 2.8rem;
  color: #fff;
  transition: all 0.2s;
  position: relative;
  width: 10rem;
}
.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.round {
  border-radius: 5rem;
  width: 14.5rem;
  font-size: 1.8rem;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}
.small {
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
}
.danger {
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  background-color: #495662;
  background-color: #f4f6f8;
  color: #495662;
}
</style>
