<template>
  <div>
    <div v-if="show" @click="tryClose" class="backdrop"></div>
    <transition name="dialog">
      <dialog open v-if="show">
        <header>
          <slot name="header">
            <h2>{{ title }}</h2>
          </slot>
        </header>
        <section class="text">
          <slot></slot>
        </section>
        <menu>
          <slot name="actions">
            <base-button btnStyle="small" @click="tryClose">Close</base-button>
          </slot>
        </menu>
      </dialog>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      required: true
    },
    title: {
      type: String,
      required: false
    }
  },
  emits: ['close'],
  methods: {
    tryClose() {
      this.$emit('close');
    }
  }
};
</script>

<style scoped>
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

dialog {
  position: fixed;
  top: 20vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  border-radius: 1.2rem;
  border: none;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.26);
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: white;
}

header {
  background-color: #ff5912;
  color: white;
  width: 100%;
  padding: 1.6rem;
}

header h2 {
  margin: 0;
  font-size: 3.8rem;
}

section {
  padding: 1.6rem;
}

menu {
  padding: 1.6rem;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.text {
  font-size: 1.8rem;
  line-height: 1.2;
}

/* transition */
.dialog-enter-from,
.dialog-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
.dialog-enter-to,
.dialog-leave-from {
  opacity: 1;
  transform: scale(1);
}
.dialog-enter-active,
.dialog-leave-active {
  transition: all 0.3s ease-out;
}

@media (min-width: 76.8rem) {
  dialog {
    left: calc(50% - 32rem);
    width: 64rem;
  }
}
</style>
